@import url(fontiran.css);
/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
@import url("../fonts/icon/bold/css/fontello.css");

/* لینک فایلی که وظیفه بارگذاری آیکن ها را برعهده دارد */
* {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

:root {
  --font-color: rgba(37, 37, 37, 1);
  --bg-color: rgba(238, 241, 245, 1);
  --dark-color: rgba(35, 35, 35, 1);
  --blue-color: rgba(39, 90, 220, 1);
  --white-color: rgba(255, 255, 255, 1);
  --red-color: rgba(233, 48, 48, 1);
  --grey-color: rgba(137, 137, 137, 1);
  --radius: 15px;
}

body {
  font-family: 'vazir';
  font-weight: 500;
  text-align: right;
  direction: rtl;
  background: var(--bg-color);
  overflow-x: hidden;
  overflow: auto;
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: vazir;
}

h1 {
  font-weight: bold;
}

/* p, a {
  font-weight: 500;
  color:black
} */
.text-small {
  font-size: 15px;
  color: rgba(41, 58, 58, 0.44);
}

.text-bold {
  font-size: 50px;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1378px;
  }
}

.radius {
  border-radius: var(--radius);
}

.section-title:before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: var(--blue-color);
  border-radius: 50%;
  margin-left: 5px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 31.04px;
  text-align: right;
  align-items: center;
  display: flex;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  background: #f7f7f7;
  margin: 5PX;
  border-radius: 0.6rem;
}

.pagination .page-link.active {
  background: var(--blue-color);
  color: #fff;
  border: 0;
}

/*header*/
header .date-fa span {
  color: var(--blue-color);
  margin-left: 5px;
}

header .logo {
  background: var(--blue-color);
  padding: 10px 35px;
  border-radius: 10px;
  color: #fff;
}

header .nav-link.active {
  color: var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0;
}

header .nav-link {
  padding: .25rem 1rem;
  border-radius: 10px;
}

/*header*/
/*main*/
main .sarkhat {
  background: var(--blue-color);
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 0.6rem;
}

main .sarkhat::after {
  border-top: 10px solid transparent;
  border-right: 10px solid var(--blue-color);
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  left: -8px;
  top: 7px;
}

main .weather {
  background: rgba(219, 102, 36, 1);
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 0.6rem;
}

main .weather::after {
  border-top: 10px solid transparent;
  border-right: 10px solid rgba(219, 102, 36, 1);
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  left: -8px;
  top: 7px;
}

main .weather-icon {
  color: rgba(219, 102, 36, 1);
  font-size: 25px;
}

main .oghat {
  background: rgba(37, 37, 37, 1);
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 0.6rem;
}

main .oghat::after {
  border-top: 10px solid transparent;
  border-right: 10px solid rgba(37, 37, 37, 1);
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  left: -8px;
  top: 7px;
}

main .last-news-list {
  list-style: none;
  padding: 0;
}

main .last-news-list .number {
  background: rgba(39, 90, 220, 0.26);
  padding: 5px 10px;
  color: var(--blue-color);
  border-radius: 7px;
  display: inline-block;
  margin-left: 10px;
}

main .last-news-list li {
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  padding-bottom: 22px;
  margin-bottom: 22px;
}

main .last-news-list li a {
  font-size: 14px;
}

main .last-news-list li:last-child {
  border: 0;
  padding: 0;
  margin: 0;
}

main .top .info_top {
  position: absolute;
  bottom: 30px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 15px;
  width: 70%;
  border-radius: 0.6rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(15px);
}

main .top .info_top .cat {
  font-size: 13px;
  font-weight: 400;

}

main .top .info_top .title-top {
  font-size: 18px;
  font-weight: 700;
}

main .top .info_top .date {
  font-size: 14px;
  font-weight: 500;
}

main .my-news {
  margin-top: 1.25rem;
}

main .my-news .titr {
  font-weight: 700;
  font-size: 16px;
  text-align: justify;
}

main .my-news .lead {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  margin: 0.7rem 0;
  color: rgba(152, 152, 152, 1);
}

main .my-news .date {
  font-size: 13px;
  font-weight: 400;
  text-align: justify;
}

main .four-option.side .cat a {
  background: rgba(222, 230, 248, 1);
  color: rgba(36, 105, 219, 1);
  padding: 3px 6px;
  border-radius: 0.6rem;
  font-size: 13px;
  font-weight: 600;
}

main .four-option.side .cover img {
  width: 62px;
  margin-bottom: 5px;
}

main .four-option.side .name {
  font-size: 13px;
  font-weight: 600;
  color: rgba(36, 105, 219, 1);
}

main .four-option.side .title {
  font-size: 13px;
  font-weight: 600;
  color: rgba(62, 61, 61, 1);
}

main .four-option.middel .cat a {
  background: rgba(222, 230, 248, 1);
  color: rgba(36, 105, 219, 1);
  padding: 3px 6px;
  border-radius: 0.6rem;
  font-size: 16px;
  font-weight: 600;
}

main .four-option.middel .cover img {
  width: 77px;
  margin-bottom: 10px;
}

main .four-option.middel .name {
  font-size: 17px;
  font-weight: 600;
  color: rgba(36, 105, 219, 1);
}

main .four-option.middel .title {
  font-size: 17px;
  font-weight: 600;
  color: rgba(62, 61, 61, 1);
}

main .most_comment .item,
main .most_view .item {
  position: relative;
  margin-left: 10px;
}

main .most_comment .item .shadow,
main .most_view .item .shadow {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #000);
  position: absolute;
  top: 0;
  left: 0;
}

main .most_comment .item .info,
main .most_view .item .info {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;
}

main .most_comment .item .info .cat,
main .most_view .item .info .cat {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

main .most_comment .item .info .titr,
main .most_view .item .info .titr {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255);
  text-align: justify;
}

main .most_comment .item .info .date,
main .most_view .item .info .date {
  font-size: 13px;
  font-weight: 500;
  color: rgba(201, 201, 201, 1);
}

main .hots .news-list {
  padding: 0;
  list-style: none;
}

main .hots .news-list li a {
  font-size: 13px;
  font-weight: 500;
}

main .hots .news-list li {
  margin-bottom: 0.55rem;
  display: flex;
  align-items: center;
}

main .hots .news-list li:last-child {
  margin-bottom: 0
}

main .hots .news-list li::before {
  content: "\f3ac";
  background: rgba(186, 202, 239, 0.48);
  padding: 0px 8px;
  font-family: "Font Awesome 5 Brands";
  color: rgb(36, 105, 219);
  border-radius: 9px;
  font-size: 20px;
  margin-left: 5px;
}

main .side_video .item {
  margin-bottom: 0.5rem;
}

main .side_video .item .number {
  border-left: 4px solid rgb(36, 105, 219);
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  align-items: center;
  display: flex;
}

main .side_video .item .number span {
  color: rgb(36, 105, 219);
  font-size: 26px;
  font-weight: 700;
}

main .side_video .item .cat {
  font-size: 12px;
  font-weight: 400;
  color: rgba(50, 50, 50, 0.64);
}

main .side_video .item .title {
  font-size: 16px;
  font-weight: 700;
  color: rgba(62, 61, 61, 1);
}

main .side_video .item .date {
  font-size: 12px;
  font-weight: 400;
  color: rgba(50, 50, 50, 0.64);
}

main .info_multimedia_intobox .date {
  position: absolute;
  top: 7%;
  left: 5%;
  background: rgba(19, 19, 19, 0.78);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  direction: ltr;
  font-size: 14px;
  font-weight: 500;
}

main .info_multimedia_intobox .title {
  position: absolute;
  bottom: 7%;
  right: 5%;
  background: rgba(19, 19, 19, 0.78);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  direction: ltr;
  font-size: 18px;
  font-weight: 500;
}

main .top_news .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

main .top_news .owl-nav .owl-prev {
  float: right;
  margin-right: 30px;
}

main .top_news .owl-nav .owl-next {
  float: left;
  margin-left: 30px;
}

main .top_news .owl-nav [class*="owl-"] {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.36);
  border-radius: 10px;
}

main .singel .info_top .date {
  font-size: 13.6px;
  font-weight: 500;
}

main .singel .info_top .title-top {
  font-size: 22px;
  font-weight: 700;
}

main .singel .info_top .caption p {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

main .singel .info_top {
  border-right: 4px solid var(--blue-color);
  padding-right: 5px;
  top: 0;
  position: -webkit-sticky !important;
  position: sticky !important;
}

main .singel .video_caption::before {
  /*font-family: "Font Awesome 5 Pro";
  content: "\f144";
  position: absolute;
  top: 38%;
  left: 47%;
  display: block;
  font-size: 90px;
  color: #fff;*/
}

main .singel .tags span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(62, 61, 61, 1);
  background: rgba(255, 255, 255, 1);
  margin-left: 12px;
  padding: 5px 20px;
  border-radius: 6px;
}

main .singel .related_post .title,
main .singel .comment .title,
main .cat .title-section,
main .videos .title-section,
main .pictures .title-section {
  border-right: 3px solid var(--blue-color);
  padding-right: 10px;
}

main .singel .related_post ul li {
  border-bottom: 1px solid rgba(217, 217, 217, 0.3);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}

main .singel .related_post ul li:last-child {
  border-bottom: 0
}

main .singel .comment .avatar-img {
  width: 35px;
}

main .singel .comment h5 {
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 0;
}

main .singel .comment .form-control::placeholder {
  font-size: 15px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: justified;
  colro: rgba(175, 175, 175, 1);
}

main .singel .recive-comment .date-comment {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(119, 119, 119, 1);
}

main .singel .recive-comment .user-comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(119, 119, 119, 1);
}

main .singel .recive-comment .text-comment p {
  margin-top: 25px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1px;
  letter-spacing: 0em;
  color: rgba(119, 119, 119, 1);
}

main .singel .replyandlike a {
  color: var(--red-color);
}

main .singel_2 .info_top .tiny_info {
  font-size: 16px;
  font-weight: 100;
}

main .singel_2 .info_top .title {
  font-size: 20px;
  font-weight: 500;
}

main .singel_2 .info_top .caption p {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}

main .singel_2 .col-left .title {
  font-size: 23px;
  font-weight: 400;
  text-align: right;
  margin-right: -12px;
}

main .singel_2 .col-left .time_video {
  font-size: 13px;
  font-weight: 400;
  background: rgba(231, 231, 231, 1);
  border: 0;
  color: #171717;
}

main .singel_2 .col-left {
  max-height: 520px;
  overflow-y: auto;
  position: sticky;
  top: 0;
  scrollbar-width: thin;
}

main .singel_3 .p-item {
  background: #fff;
  padding: 0.75rem;
  border-radius: 12px;
}

main .singel_3 .p-item:hover {
  background: rgba(181, 181, 181, 0.14);
  cursor: pointer;
}


main .singel_3 .p-item img {
  border-radius: 12px;
}

main .singel_3 .p-item .title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

main .singel_3 .p-item .date {
  font-size: 13px;
  font-weight: 500;
  color: rgba(149, 149, 149, 1);
  margin-top: 0.5rem;
}

main .singel_3 .owl-nav {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100%;
}

main .singel_3 .owl-nav .owl-prev {
  float: right;
  margin-right: 22px;
}

main .singel_3 .owl-nav .owl-next {
  float: left;
  margin-left: 30px;
}

main .singel_3 .owl-nav [class*="owl-"] {
  border-radius: 50%;
  background: rgb(136, 136, 136);
  border-radius: 10px;
  color: #fff !important;
}



main .singel_4 .item,
main .most_view .item {
  position: relative;
  margin-left: 10px;
}

main .singel_4 .item .shadow,
main .most_view .item .shadow {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  left: 0;
}

main .singel_4 .item .info,
main .most_view .item .info {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;
}

main .singel_4 .item .info .cat,
main .most_view .item .info .cat {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  background: var(--blue-color);
  padding: 5px 10px;
  border-radius: 0.6rem;
}

main .singel_4 .item .info .titr,
main .most_view .item .info .titr {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255);
  text-align: justify;
}

main .singel_4 .item .info .date,
main .most_view .item .info .date {
  font-size: 13px;
  font-weight: 500;
  color: rgba(201, 201, 201, 1);
}


/*main*/
/*footer*/
footer .fcol {
  /*margin-left: 0.5rem*/
  padding: 0 20px;
}

footer .fcol-1 .social img {
  width: 21px;
  margin-left: 0.25rem
}

footer .fcol-1 .des {
  text-align: justify;
  font-size: 15px;
  font-weight: 100;
  line-height: 28px;
}

footer .fcol-2 .title {
  border-bottom: 3px solid rgba(41, 41, 41, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

footer .fcol-3 .title {
  border-bottom: 3px solid rgba(41, 41, 41, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

footer .list-footer {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

footer .list-footer li {
  margin-bottom: 12px;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

footer .end-list {
  display: flex;
  list-style: none;
}

footer .end-list li {
  margin-left: 1rem;
}

footer .top_page {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 40px;
  left: -5px;
  cursor: pointer;
}

footer .social .social-item {
  margin-left: 0.5rem;
}

footer .social .social-item img {
  width: 31px;
}

footer .tags span {
  background: rgba(44, 43, 56, 1);
  color: rgb(244, 244, 244);
  margin: 0 0 4px 15px;
  padding: 3px 8px;
  display: inline-block;
  position: relative;
  border-radius: 0 6px 6px 0;
  font-size: 12px;
}

footer .tags span:before {
  border-top: 12px solid transparent;
  border-right: 12px solid rgb(100, 100, 100);
  border-bottom: 12px solid transparent;
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
}

.zoom {
  transition: transform .2s;

  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

a {
  color: black !important;
  text-decoration: none !important;
  font-size: 15px !important;
  font-weight: bolder;
}

a :hover {
  color: blue;
}

.bgStyl {
  background-color: #DEE6F8;
  width: 18%;
  border-radius: 12px;
  padding: 8px 1px;
  text-align: center;
  font-size: 13px;
  color: #2469DB;
}

.h4style {
  font-size: 15px;
  padding-bottom: 15px;
}

.ResizeLogo {
  width: 30px;
  padding-bottom: 20px;
}

.FontFooterMobile {
  font-size: 14px;
}

/* mobile mode */
.MBLstylPostion {
  position: relative;
  left: -20%;
  top: -31%;
}
.MBLstylColor{
font-size: 8px;
color: white;
}
.MBLstylColor1{
font-size: 10px;
color: white;
}

.pos{
  position: relative; right: 5%;bottom: 30%;
  color: white;
}


































/*footer*/